@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
#inicioJornada{
    border-radius: 48px;
    max-width: 400px;
    border: 2px solid #202020;
    margin: 0 auto;
}

#inicioJornada h1{
    font-size: 24px;
    width: 100%;
    margin: 0;
    padding: 16px 0;
    text-align: center;
    background-color: #15E5B3;
    border-radius: 46px 46px 0 0;
    color: #202020;
}

#inicioJornada img{
    width: 100%;
}

#inicioJornada #botoes{
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 16px;
}

#inicioJornada #botoes button{
    font-size: 24px;
    font-weight: 700;
    border-width: 2px 2px 4px;
    border-radius: 8px;
    border: solid;
    border-width: 2px 2px 4px;
    cursor: pointer;
}

#inicioJornada #botoes button:hover{
    font-size: 32px;
    transition: 50ms;
}

#inicioJornada #botoes #sim{
    background-color: #15E5B3;
    color: #202020;
    border-color: #202020;
}

#inicioJornada #botoes #nao{
    background-color: #202020;
    color: #15E5B3;
    border-color: #15e5b3;
}

.inativo {
    display: none;
}

#menuEscondido{
    background-color: #15E5B3;
    border-radius: 46px;
    padding: 16px;
}

#menuEscondido p{
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 16px 0;
    text-align: center;
    background-color: #15E5B3;
    border-radius: 46px 46px 0 0;
    color: #202020;
    font-weight: 700;
}

#menuEscondido ul {
    padding: 8px 4px;
    background-image: linear-gradient(#28C09C, #15e5b3);
    list-style: none;
    width: 60%;
    margin: 16px auto;
    border-radius: 16px;
}

#menuEscondido ul li{
    text-align: center;
    margin: 8px 0;
}

#menuEscondido ul li a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #202020;
    font-weight: 700;
}

#menuEscondido ul li a:hover{
    color: #fff;
    transition: 50ms;
}

#menuEscondido #voltar{
    border-radius: 48px;
    background-color: white;
    color: #202020;
    font-weight: 700;
    font-size: 24px;
    padding: 4px 16px;
    border: none;
    display: block;
    margin: 0 auto 16px;
    cursor: pointer;
}