@import url("style.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 43px;
}

p{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


.header-principal{
    width: 100vw;
    display: flex;
}

.container2{
    position: absolute;
    top: 7.5%;

    width: 100vw;
    height: 1vh;

    background-color: #15E5B3;
}

.header-content{
    display: flex;
    align-items: center;

    gap: 27rem;

    padding: 15px;

    height: 7.5vh;
    width: 100vw;

    background-color: #202020;
    color: #15ECB8;

    text-align: center;
}

.h1-content{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 2;
}


.button-content{
    color: black;
border-radius:  0 70px 70px 0;
background-image: linear-gradient(90deg,rgba(21,229,179),rgba(21,229,179));
border: none;
margin-top: 16px;
padding: 8px 16px;
font-size: 16px;
text-decoration: none;
color: black;
font-weight: bolder;
}

.button-content:hover{
    background-image: linear-gradient(90deg,rgb(38, 168, 138),rgba(0,255,194));
    transition: 150ms;
}

.content-h2 img{
    filter: drop-shadow(#585858 8px 16px 24px);
    margin: 24px 0;
}

#nomeSobrenome {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 70px 0 0 70px;
    border: none;
    background-color: #c4c4c4;
}