@import url("style.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
    font-size: 43px;
}

p{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}



.container{
    min-height: 100vh;
}

.header-principal{
    width: 100vw;
    display: flex;
}

.container2{
    position: absolute;
    top: 7.5%;

    width: 100vw;
    height: 1vh;

    background-color: #15E5B3;
}

.header-content{
    display: flex;
    align-items: center;

    gap: 27rem;

    padding: 15px;

    height: 7.5vh;
    width: 100vw;

    background-color: #202020;
    color: #15ECB8;

    text-align: center;
}

.h1-content{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 79vh;
}


.button-content{
    background-color:#15ECB8 ;

    padding: 8px 16px;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.content-h2 img{
    filter: drop-shadow(#585858 8px 16px 24px);
    margin: 24px 0;
}


