@import url("style.css");

.tituloExercicios {
	color: white;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 40px;
	margin:  0 0;
	display: inline-block;
	color: #292D32;
}

.container button {
	margin: 0 0 0 20px;
}
.container img {
	display: inline-block;

}

.questionario {
	font-family: 'Inter', sans-serif;
	width: 60vw;
	height: fit-content;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 0 30px;
}

.enunciado {
	margin: 32px 0;
	display: block;
	font-size: 24px;
}



fieldset {
	border-radius: 5px;
	
	display: flex;
	flex-direction: column;
}

fieldset input {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}



fieldset li {
	display: flex;
	align-items: center;
	
}

fieldset li p{
	display: inline-block;
	font-weight: 400;
	margin: 0;
}


button {
	width: fit-content;
}

input[type="radio"]:checked{
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	background-color: #15E5B3;
	border-radius: 50%;
	border: 4px solid #fff;
	outline: 4px solid #292D32;

}

#submit{
	font-size: 18px;
	padding: 8px 16px;
	border-radius: 50px;
	border: none;
	background-image: linear-gradient(90deg,rgb(38, 168, 138),rgb(38, 168, 138));
	margin-left: 30px;
	color: #292D32;
}

#submit:hover{
	background-image: linear-gradient(90deg,rgb(38, 168, 138),rgb(0,255,194));
	transition: 250ms;
	cursor: pointer;
}

@media (max-width:600px){
	.questionario {
		width: 100vw;
		margin: 0;
	}

}
